h1{
    border-style: solid dotted dashed ridge;
    border-width: 5px 10px 15px;
    border-color: red;
}
p{
    color: blue;
}
.class1{
    background-image: url("image/car.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.class1 p{
    color: red;
}
.class1 h1{
    color: hsl(0, 0%, 0%);
}
.class2{
    height: 500px;
    width: 500px;
    border: 5pz dashed blue;
}